{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Crear un albun</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Creación de albunes</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">¡Crea tu propio albun!</p>
{% endblock subheading %}

{% block contenido %}
<h1>Crea tu albun</h1>
<table>
    <form method='POST'>
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' >Crear</button>
    </form>
</table>

{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}

{% endblock about %}

{% block contacto %}
{% endblock contacto %}
