{% extends 'base.html' %}

{% block title %}
<title>Crea tu blog</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Crea tu blog!</h1>
{% endblock masterhead %}

{% block subheading %}

<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>

{% endblock subheading %}

{% block contenido %}
<form action={% url 'inicio:crear_blog' %} method="POST">

    {% csrf_token %}
 
    <table>
        {{form}}
    </table>
    <button>Crear</button>
</form>
{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}

{% endblock contacto %}
