{% extends 'base.html' %}

{% block title %}
<title>Eliminar el blog</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0"></h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0"></p>
{% endblock subheading %}

{% block contenido %}
<form action={% url 'inicio:eliminar_blog' blog.id%} method="POST">
    {% csrf_token %}
    <p>confirmar eliminar el blog {{blog}}</p>
    <button>Confirmar</button>
</form>


{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% comment %} <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2> {% endcomment %}
{% endblock contacto %}
