{% extends 'base.html' %}

{% block title %}
<title>Congfirmar borrar imagen</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Confirmar eliminación de imagen</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">¿Estás seguro que deseas eliminar esta imagen?</p>
{% endblock subheading %}

{% block contenido %}

<form method='POST'>
    {% csrf_token %}
    <button type= 'submit'> Eliminar</button>
    <a href={% url 'inicio:ver_albun' pk=imagen.albun.pk %}>Cancelar</a>
</form>

{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% endblock contacto %}
