
{% extends 'base.html' %}


{% block title %}
<title>{{blog.nombre_blog}}</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Bienvenidos a {{blog.nombre_blog}}</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de {{blog.categoria}}</p>
{% endblock subheading %}

{% block contenido %}
{{blog}}
{% load static %}

{% for imagen in imagenes %}
<li>
    <img src={{imagen.imagen.url}} alt={{imagen.titulo}} style='width:800px' enctype='multipart/form-data'>
    <p>{{imagen.titulo}} - Por el autor: {{request.user}}</p>
    <p>{{imagen.descripcion}}</p>
</li>

{% endfor %}


{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% endblock contacto %}
