{% extends 'base.html' %}

{% block title %}
<title>Natart blog</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Bienvenidos a Natart blog!</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>
{% endblock subheading %}

{% block contenido %}
{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% comment %} <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2> {% endcomment %}
{% endblock contacto %}
