{% extends 'base.html' %}

{% block title %}
<title>Biblioteca</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Biblioteca de blogs</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Busca el blog que más te interese</p>
{% endblock subheading %}

{% block contenido %}
{% if blogs %}
{% for blog in blogs %}
<li>
{{blog}}
<button>
    <a class="navbar-brand" href={% url 'inicio:ver_blog' blog.id %}>Ver blog</a>
</button>
<button>
    <a class="navbar-brand" href={% url 'inicio:editar_blog' blog.id %}>Editar blog</a>
</button>
<button>
    <a class="navbar-brand" href={% url 'inicio:eliminar_blog' blog.id %}>Eliminar blog</a>
</button>
</li>
{% endfor %}
{% else %}

<p class="masthead-subheading font-weight-light mb-0">¡Ups! No se han encontrado datos</p>
<button>
    <a class='navbar-brand' href={% url 'inicio:inicio' %}>Volver al menú principal</a>
</button> 
{% endif %}
{% endblock contenido %}


{% block about %}
{% endblock about %}

{% block contacto %}

{% endblock contacto %}
