{% extends 'base.html' %}

{% block title %}
<title>Albunes</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Listado de albunes</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>
{% endblock subheading %}

{% block contenido %}
<h2>Lista de Álbunes</h2>

{% if albunes %}
    {% for albun in albunes %}

    <li>
        {{albun}}
        <button>
            <li><a href={% url 'inicio:ver_albun' albun.id %}> {{albun.titulo}} por {{albun.autor}} </a></li>
        </button>

       
        
        <button>
            <li><a href={% url 'inicio:editar_albun' albun.id %}> Editar </a></li>
        </button>
        
        {% if imagen.albun.autor == request.user %}
        <button>
            <li><a href={% url 'inicio:eliminar_albun' albun.id %}>Eliminar</a></li>
        </button>
        {% endif %}
        
      

        <button>
            <a href={% url 'inicio:subir_imagen' %}>Cargar Imagen</a>
        </button>
    </li>
    
    {% endfor %}

{% else %}
<p>No se encuentran álbunes</p>

{% endif %}


{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}


{% block about %}
{% endblock about %}

{% block contacto %}
{% endblock contacto %}
