{% extends 'base.html' %}

{% block title %}
<title>ups!</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Biblioteca de blogs</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">No se ha encontrado información</p>
{% endblock subheading %}

{% block contenido %}
<button>
    <a class='navbar-brand' href={% url 'inicio:inicio' %}>Volver al menú principal</a>
</button>
{% endblock contenido %}


{% block about %}
{% endblock about %}

{% block contacto %}
{% comment %} <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2> {% endcomment %}
{% endblock contacto %}
