{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{blog.nombre_blog}}</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Bienvenidos a {{blog.nombre_blog}}</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de {{blog.categoria}}</p>
{% endblock subheading %}

{% block contenido %}
{{blog}}


{% comment %} {% if request.user.is_authenticated %}
<button>
    <a href={% url 'inicio:subir_imagen' %}>Cargar Imagen</a>
</button>
{% endif %} {% endcomment %}

<button>
    <a class= "navbar-brand" href={% url 'inicio:lista_albun' %}>Ver lista de álbunes</a>
</button>
<button>
    <a class= "navbar-brand" href={% url 'inicio:crear_albun' pk=blog.pk %}>Crear un Albun</a> 
</button>


{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% comment %} <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Login</h2> {% endcomment %}
{% endblock contacto %}
