{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{blog.nombre_blog}}</title>
{% endblock title %}

{% block imagen_principal %}
    {% if blog.categoria == 'IL' %}
    <img class="masthead-avatar mb-5" src={% static 'assets/img/portfolio/ilustracion.jpg' %} alt="..." />
    {% elif blog.categoria == 'FT' %}
    <img class="masthead-avatar mb-5" src={% static 'assets/img/portfolio/fotografia.jpg' %} alt="..." />
    {% elif blog.categoria == 'AT' %}
    <img class="masthead-avatar mb-5" src={% static 'assets/img/portfolio/AT.jpg' %} alt="..." />
    {% elif blog.categoria == '3D' %}
    <img class="masthead-avatar mb-5" src={% static 'assets/img/portfolio/3D.jpg' %} alt="..." />
    {% endif %}

{% endblock imagen_principal %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Bienvenidos a {{blog.nombre_blog}}</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de {{blog.get_categoria_display}}</p>
{% endblock subheading %}


{% block contenido %}
<p>    </p>
    <a class='btn btn-primary' href={% url 'usuario:info_perfil_autor' blog.autor.id %}>Información sobre {{blog.autor}}</a>
    <a class='btn btn-primary' href={% url 'mensajeria:enviar_mensaje' blog.autor.id %}> Enviar mensaje a {{blog.autor}}</a>


<li>
   <p>{{blog}}</p> 
   <p>{{blog.descripcion}}</p>
</li>




    <a class='btn btn-primary' href={% url 'inicio:crear_albun' pk=blog.pk %}>Crear un Albun</a> 


    <a class='btn btn-primary' href={% url 'inicio:lista_albun' %}>Ver lista de álbunes</a>



{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}
{% endblock about %}


{% block contacto %}
{% endblock contacto %}
