{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{blog.nombre_blog}}</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">¡Bienvenidos a {{blog.nombre_blog}}</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de {{blog.categoria}}</p>
{% endblock subheading %}

{% block contenido %}
{{blog}}



<button>
    <a class= "navbar-brand" href={% url 'inicio:lista_albun' %}>Ver lista de álbunes</a>
</button>
<button>
    <a class= "navbar-brand" href={% url 'inicio:crear_albun' pk=blog.pk %}>Crear un Albun</a> 
</button>


{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}
{% endblock about %}


{% block contacto %}
{% endblock contacto %}
