{% extends 'base.html' %}

{% block title %}
<title>{{blog.nombre_blog}}</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Sube tus imagenes</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>
{% endblock subheading %}

{% block contenido %}
<form action={% url 'inicio:subir_imagen_view' %} method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
<table>{{formulario}}</table>
<button>Guardar Imagen</button>
</form>

{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% endblock contacto %}
