{% extends 'base.html' %}

{% block title %}
<title>Editar perfil</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Edición de perfil</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Aquí puedes cambiar los datos de tu perfil</p>
{% endblock subheading %}

{% block contenido %}
<form action={% url 'usuario:editar_perfil' %} method="POST" enctype='multipart/form-data'>
{% csrf_token %}
<table>
    {{formulario}}
    {{formulario.media}}
</table>
<button>Guardar cambios</button>
</form>
<button type='button'><a class= 'navbar-brand' href={% url 'usuario:modificar_pass' %}></a></button>
{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}
{% endblock about %}

{% block contacto %}

{% endblock contacto %}
