{% extends 'base.html' %}

{% block title %}
<title>Tu perfil</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Información de perfil</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Aquí puedes ver los datos de tu perfil</p>
{% endblock subheading %}

{% block imagen_principal %}

{% if request.user.infoextra.avatar %}
    <img src={{request.user.infoextra.avatar.url}} alt="" height='400px'>
{% endif %}

{% endblock imagen_principal %}

{% block contenido %}

    
       <p>Nombre de Usuario: {{request.user.username}}</p>
       <p>Nombre: {{request.user.first_name}}</p>
       <p>Apellido: {{request.user.last_name}}</p>
       <p>Email: {{request.user.email}}</p>
       <p>Biografía: {{request.user.infoextra.biografia | safe}} </p>
    

{% if request.user.is_authenticated %}
<button>
   <a href={% url 'usuario:editar_perfil' %}>Editar perfil</a> 
</button>
{% endif %}

{% endblock contenido %}

{% block about_inicio %}
<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href={% url 'inicio:inicio' %}>About</a></li>
{% endblock about_inicio %}

{% block about %}
{% endblock about %}

{% block contacto %}

{% endblock contacto %}
