{% extends 'base.html' %}

{% block title %}
<title>Iniciar sesión</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Iniciar sesión</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>
{% endblock subheading %}

{% block contenido %}
<form action={% url 'usuario:login' %} method="POST">
    {% csrf_token %}
    <table>
        {{formulario}}
    </table>
    <button>Ingresar</button>
</form>
{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}

{% endblock contacto %}
