{% extends 'base.html' %}

{% block title %}
<title>Galería de imagenes</title>
{% endblock title %}

{% block masterhead %}
<h1 class="masthead-heading text-uppercase mb-0">Bienvenido a la galería de {{blog.nombre_blog}}</h1>
{% endblock masterhead %}

{% block subheading %}
<p class="masthead-subheading font-weight-light mb-0">Blog de arte - Ilustración - Fotografía</p>
{% endblock subheading %}

{% block contenido %}
{% for imagen in imagenes %}
<img src={{imagen.imagen.url}} alt={{imagen.titulo}} style='width:800px;'>
<p>{{imagen.titulo}}</p>
{% endfor %}


{% endblock contenido %}

{% block about %}
{% endblock about %}

{% block contacto %}
{% endblock contacto %}
